$color = #4286f4
$action-color = #ff9e00
$light-color = #ececdc
$background-color = #d8d8cd
$width = 5px
$portrait-breakpoint = 400px
$font = Arial

no-selete() 
  -webkit-touch-callout: none /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;